{% load static %}
<section class="section">
    <div id="products" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#products" data-slide-to="0" class="active"></li>
          <li data-target="#products" data-slide-to="1"></li>
          <li data-target="#products" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'images/charlie-who-shop-retail-fashion-clothing-rail.png' %}" alt="second-slide">
            <div class="carousel-caption">
                <h3>Lowest prices you can find</h3>
                <a href="" class="btn">Shop Now</a>
              </div>
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/best-women-walking-shoes-luxe-digital.jpg' %}" alt="first-slide">
                 </div>
          <div class="carousel-item">
            <img src="{% static 'images/close-up-of-clothes-hanging-in-row.jpg' %}" alt="New York">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#products" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#products" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div> 
    </section>