{% extends 'store/base_template.html' %}
{% load static %}
{% block css %}
    
    <style type="text/css">
      input[type=password]{
        display: block;
        width:100%;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        border: 1px solid grey;
      }  
      body{
        background-color: white;
      }
    </style>
{% endblock css %}
{% block title %} Register{% endblock title %}

{% block content %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
          <button type="submit" class="btn btn-primary">Register</button>
        </form>


{% endblock content %}


